/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/** 1. Set default font family to sans-serif. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
/* line 9, ../../assets/_normalize.scss */
html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/** Remove default margin. */
/* line 19, ../../assets/_normalize.scss */
body { margin: 0; }

/* HTML5 display definitions ========================================================================== */
/** Correct `block` display not defined for any HTML5 element in IE 8/9. Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox. Correct `block` display not defined for `main` in IE 11. */
/* line 33, ../../assets/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/** 1. Correct `inline-block` display not defined in IE 8/9. 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. */
/* line 54, ../../assets/_normalize.scss */
audio, canvas, progress, video { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }

/** Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
/* line 67, ../../assets/_normalize.scss */
audio:not([controls]) { display: none; height: 0; }

/** Address `[hidden]` styling not present in IE 8/9/10. Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22. */
/* line 77, ../../assets/_normalize.scss */
[hidden], template { display: none; }

/* Links ========================================================================== */
/** Remove the gray background color from active links in IE 10. */
/* line 89, ../../assets/_normalize.scss */
a { background-color: transparent; }

/** Improve readability when focused and also mouse hovered in all browsers. */
/* line 97, ../../assets/_normalize.scss */
a:active, a:hover { outline: 0; }

/* Text-level semantics ========================================================================== */
/** Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
/* line 109, ../../assets/_normalize.scss */
abbr[title] { border-bottom: 1px dotted; }

/** Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
/* line 117, ../../assets/_normalize.scss */
b, strong { font-weight: bold; }

/** Address styling not present in Safari and Chrome. */
/* line 126, ../../assets/_normalize.scss */
dfn { font-style: italic; }

/** Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari, and Chrome. */
/* line 135, ../../assets/_normalize.scss */
h1 { font-size: 2em; margin: 0.67em 0; }

/** Address styling not present in IE 8/9. */
/* line 144, ../../assets/_normalize.scss */
mark { background: #ff0; color: #000; }

/** Address inconsistent and variable font size in all browsers. */
/* line 153, ../../assets/_normalize.scss */
small { font-size: 80%; }

/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */
/* line 161, ../../assets/_normalize.scss */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

/* line 169, ../../assets/_normalize.scss */
sup { top: -0.5em; }

/* line 173, ../../assets/_normalize.scss */
sub { bottom: -0.25em; }

/* Embedded content ========================================================================== */
/** Remove border when inside `a` element in IE 8/9/10. */
/* line 184, ../../assets/_normalize.scss */
img { border: 0; }

/** Correct overflow not hidden in IE 9/10/11. */
/* line 192, ../../assets/_normalize.scss */
svg:not(:root) { overflow: hidden; }

/* Grouping content ========================================================================== */
/** Address margin not present in IE 8/9 and Safari. */
/* line 203, ../../assets/_normalize.scss */
figure { margin: 1em 40px; }

/** Address differences between Firefox and other browsers. */
/* line 211, ../../assets/_normalize.scss */
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

/** Contain overflow in all browsers. */
/* line 221, ../../assets/_normalize.scss */
pre { overflow: auto; }

/** Address odd `em`-unit font size rendering in all browsers. */
/* line 229, ../../assets/_normalize.scss */
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

/* Forms ========================================================================== */
/** Known limitation: by default, Chrome and Safari on OS X allow very limited styling of `select`, unless a `border` property is set. */
/** 1. Correct color not being inherited. Known issue: affects color of disabled elements. 2. Correct font properties not being inherited. 3. Address margins set differently in Firefox 4+, Safari, and Chrome. */
/* line 252, ../../assets/_normalize.scss */
button, input, optgroup, select, textarea { color: inherit; /* 1 */ font: inherit; /* 2 */ margin: 0; /* 3 */ }

/** Address `overflow` set to `hidden` in IE 8/9/10/11. */
/* line 266, ../../assets/_normalize.scss */
button { overflow: visible; }

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera. Correct `select` style inheritance in Firefox. */
/* line 277, ../../assets/_normalize.scss */
button, select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. */
/* line 290, ../../assets/_normalize.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

/** Re-set default cursor for disabled elements. */
/* line 302, ../../assets/_normalize.scss */
button[disabled], html input[disabled] { cursor: default; }

/** Remove inner padding and border in Firefox 4+. */
/* line 311, ../../assets/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
/* line 322, ../../assets/_normalize.scss */
input { line-height: normal; }

/** It's recommended that you don't attempt to style these elements. Firefox's implementation doesn't respect box-sizing, padding, or width.  1. Address box sizing set to `content-box` in IE 8/9/10. 2. Remove excess padding in IE 8/9/10. */
/* line 334, ../../assets/_normalize.scss */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Fix the cursor style for Chrome's increment/decrement buttons. For certain `font-size` values of the `input`, it causes the cursor style of the decrement button to change from `default` to `text`. */
/* line 346, ../../assets/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Address `appearance` set to `searchfield` in Safari and Chrome. 2. Address `box-sizing` set to `border-box` in Safari and Chrome (include `-moz` to future-proof). */
/* line 357, ../../assets/_normalize.scss */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }

/** Remove inner padding and search cancel button in Safari and Chrome on OS X. Safari (but not Chrome) clips the cancel button when the search input has padding (and `textfield` appearance). */
/* line 370, ../../assets/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** Define consistent border, margin, and padding. */
/* line 379, ../../assets/_normalize.scss */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct `color` not being inherited in IE 8/9/10/11. 2. Remove padding so people aren't caught out if they zero out fieldsets. */
/* line 390, ../../assets/_normalize.scss */
legend { border: 0; /* 1 */ padding: 0; /* 2 */ }

/** Remove default vertical scrollbar in IE 8/9/10/11. */
/* line 399, ../../assets/_normalize.scss */
textarea { overflow: auto; }

/** Don't inherit the `font-weight` (applied by a rule above). NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
/* line 408, ../../assets/_normalize.scss */
optgroup { font-weight: bold; }

/* Tables ========================================================================== */
/** Remove most spacing between table cells. */
/* line 419, ../../assets/_normalize.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 424, ../../assets/_normalize.scss */
td, th { padding: 0; }

/* line 1, ../sass/_typography.scss */
html { box-sizing: border-box; }

/* line 5, ../sass/_typography.scss */
*, *:before, *:after { box-sizing: inherit; }

/* line 11, ../sass/_typography.scss */
body { max-width: 100%; margin-left: auto; margin-right: auto; background-color: #f9f9f9; color: #333; font-family: serif; font-size: 16px; line-height: 1.617; text-rendering: optimizeLegibility; }
/* line 12, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/susy/sass/susy/output/support/_clearfix.scss */
body:after { content: " "; display: block; clear: both; }
/* line 65, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/susy/sass/susy/language/susy/_background.scss */
head { display: block; position: fixed; right: 10px; bottom: 10px; z-index: 999; color: #333; background: rgba(255, 255, 255, 0.25); }
/* line 66, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/susy/sass/susy/language/susy/_background.scss */
head:before { content: "|||"; display: block; padding: 5px 10px; font-family: sans-serif; font-size: 16px; font-weight: bold; }
/* line 67, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/susy/sass/susy/language/susy/_background.scss */
head:hover { background: rgba(255, 255, 255, 0.5); color: red; }
/* line 71, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/susy/sass/susy/language/susy/_background.scss */
head:hover ~ body, head:hover ~ body body { position: relative; }
/* line 74, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/susy/sass/susy/language/susy/_background.scss */
head:hover ~ body:before, head:hover ~ body body:before { position: absolute; top: 0; left: 0; bottom: 0; right: 0; content: " "; z-index: 998; background-image: linear-gradient(to right, rgba(222, 30, 126, 0.25), rgba(233, 95, 164, 0.25)); background-size: 25%; background-origin: content-box; background-clip: content-box; background-position: left top; }

/* line 22, ../sass/_typography.scss */
a { color: #e34234; text-decoration: none; }
/* line 26, ../sass/_typography.scss */
a:visited { color: #c8291c; }
/* line 30, ../sass/_typography.scss */
a:hover, a:focus { color: #c8291c; text-decoration: underline; }

/* line 37, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6 { line-height: 1.25; margin: 0; }

/* line 42, ../sass/_typography.scss */
p { margin: 0 0 1.617em 0; }

/* line 46, ../sass/_typography.scss */
img { max-width: 100%; height: auto; }

@media (min-width: 768px) { /* line 52, ../sass/_typography.scss */
  body { max-width: 100%; margin-left: auto; margin-right: auto; }
  /* line 12, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/susy/sass/susy/output/support/_clearfix.scss */
  body:after { content: " "; display: block; clear: both; }
  /* line 71, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/susy/sass/susy/language/susy/_background.scss */
  head:hover ~ body, head:hover ~ body body { position: relative; }
  /* line 74, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/susy/sass/susy/language/susy/_background.scss */
  head:hover ~ body:before, head:hover ~ body body:before { position: absolute; top: 0; left: 0; bottom: 0; right: 0; content: " "; z-index: 998; background-image: linear-gradient(to right, rgba(222, 30, 126, 0.25), rgba(233, 95, 164, 0.25)); background-size: 16.6666666667%; background-origin: content-box; background-clip: content-box; background-position: left top; } }
/* line 1, ../sass/partials/_content.scss */
body { background-image: url("../images/cityscape.jpeg"); background-position: center top; background-attachment: fixed; background-size: cover; }

/* line 8, ../sass/partials/_content.scss */
.panel { background-color: rgba(249, 249, 249, 0.8); border-radius: 3px; padding: 0 2.5%; position: relative; }
/* line 14, ../sass/partials/_content.scss */
.panel:after { content: ''; display: table; clear: both; }

/* line 21, ../sass/partials/_content.scss */
#masthead { width: 100%; float: left; padding-left: 2.5%; padding-right: 2.5%; margin-top: 0.8085em; }
/* line 26, ../sass/partials/_content.scss */
#masthead .site-title { padding-right: 2.5%; }
/* line 30, ../sass/partials/_content.scss */
#masthead .site-description { line-height: 40px; margin: 0; }

/* line 36, ../sass/partials/_content.scss */
#primary { width: 100%; float: left; padding-left: 2.5%; padding-right: 2.5%; margin: 0.8085em 0; }

/* line 42, ../sass/partials/_content.scss */
.hentry { margin-bottom: 1.617em; padding-top: 0.8085em; padding-bottom: 0.8085em; }
/* line 47, ../sass/partials/_content.scss */
.hentry:last-of-type { margin-bottom: 0; }

/* line 52, ../sass/partials/_content.scss */
.entry-title { margin: 0; padding-bottom: 0.40425em; }

/* line 57, ../sass/partials/_content.scss */
.entry-content { padding: 0.8085em 2.5%; }

/* line 61, ../sass/partials/_content.scss */
#colophon { width: 100%; float: left; padding-left: 2.5%; padding-right: 2.5%; margin-bottom: 0.8085em; }
/* line 66, ../sass/partials/_content.scss */
#colophon .panel { padding-top: 0.8085em; padding-bottom: 0.8085em; }
/* line 71, ../sass/partials/_content.scss */
#colophon .copyright { margin: 0; text-align: right; }

@media (min-width: 768px) { /* line 78, ../sass/partials/_content.scss */
  .site-title, .site-description { display: inline-block; float: left; }
  /* line 84, ../sass/partials/_content.scss */
  .hentry { width: 100%; float: left; }
  /* line 87, ../sass/partials/_content.scss */
  .hentry img { width: 33.3333333333%; float: left; }
  /* line 91, ../sass/partials/_content.scss */
  .hentry .entry-content { width: 66.6666666667%; float: left; padding-left: 1.6666666667%; padding-right: 1.6666666667%; padding-top: 0; } }
/* line 1, ../sass/partials/_navigation.scss */
.site-navigation { padding: 0 2.5%; }
/* line 4, ../sass/partials/_navigation.scss */
.site-navigation ul { list-style: none; margin: 0; padding: 0; }
/* line 10, ../sass/partials/_navigation.scss */
.site-navigation li { border-bottom: 1px solid #ddd; }
/* line 13, ../sass/partials/_navigation.scss */
.site-navigation li:last-of-type { border-bottom: none; }
/* line 18, ../sass/partials/_navigation.scss */
.site-navigation a { display: block; padding: 0.8085em 2.5%; }

/* line 1, ../sass/partials/_offcanvas.scss */
.menu-toggle { background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 3px; height: 40px; position: absolute; top: 0; right: 0; }
/* line 10, ../sass/partials/_offcanvas.scss */
.menu-toggle:hover, .menu-toggle:focus { background-color: #ececec; }
/* line 15, ../sass/partials/_offcanvas.scss */
.menu-toggle:active { background-color: #e0e0e0; box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

/* line 21, ../sass/partials/_offcanvas.scss */
.page-wrapper { position: relative; }
/* line 24, ../sass/partials/_offcanvas.scss */
.page-wrapper:after { content: ''; display: block; clear: both; }

/* line 31, ../sass/partials/_offcanvas.scss */
.content-wrapper { width: 100%; float: left; }
/* line 34, ../sass/partials/_offcanvas.scss */
.active .content-wrapper { transform: translateX(-50%); }

/* line 39, ../sass/partials/_offcanvas.scss */
#offcanvas { background-color: #e34234; color: #f9f9f9; width: 50%; visibility: hidden; position: absolute; top: 0; }
/* line 47, ../sass/partials/_offcanvas.scss */
.active #offcanvas { visibility: visible; right: 0; }
/* line 52, ../sass/partials/_offcanvas.scss */
#offcanvas a { color: #f9f9f9; }
/* line 55, ../sass/partials/_offcanvas.scss */
#offcanvas a:visited { color: #f9f9f9; }
/* line 59, ../sass/partials/_offcanvas.scss */
#offcanvas a:hover, #offcanvas a:focus { color: #f9f9f9; text-decoration: underline; }

@media (min-width: 768px) { /* line 68, ../sass/partials/_offcanvas.scss */
  .content-wrapper { width: 100%; float: left; }
  /* line 71, ../sass/partials/_offcanvas.scss */
  .active .content-wrapper { transform: translateX(-33%); }
  /* line 76, ../sass/partials/_offcanvas.scss */
  #offcanvas { width: 33.3333333333%; } }
/* line 1, ../sass/partials/_widgets.scss */
#secondary { width: 100%; float: left; padding-left: 2.5%; padding-right: 2.5%; }
/* line 4, ../sass/partials/_widgets.scss */
#secondary:after { content: ''; display: table; clear: both; }

/* line 11, ../sass/partials/_widgets.scss */
.widget { margin-bottom: 1.617em; }
/* line 14, ../sass/partials/_widgets.scss */
.widget .widget-title { padding: 0.40425em 2.5%; }
/* line 18, ../sass/partials/_widgets.scss */
.widget .entry-title { padding: 0.40425em 2.5%; }

/*# sourceMappingURL=styles.css.map */
