html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	@include container();
	
	background-color: $background-color;
	color: $text-color;
	font-family: serif;
	font-size: 16px;
	line-height: $base-line-height;
	text-rendering: optimizeLegibility;
}

a {
	color: $link-color;
	text-decoration: none;
	
	&:visited {
		color: $hover-link-color;
	}
	
	&:hover,
	&:focus {
		color: $hover-link-color;
		text-decoration: underline;
	}
}

h1, h2, h3, h4, h5, h6 {
	line-height: $header-line-height;
	margin: 0;
}

p {
	margin: 0 0 ( $base-spacing ) 0;
}

img {
	max-width: 100%;
	height: auto;
}

@include susy-breakpoint( 768px, $susy-tablet ) {
	body {
		@include container();
	}
}