$background-color: #f9f9f9;
$accent-color: #e34234;
$text-color: #333;
$border-color: #ddd;

$link-color: $accent-color;
$hover-link-color: darken( $link-color, 10 );

$base-line-height: 1.617;
$base-spacing: $base-line-height * 1em;
$header-line-height: 1.25;

$susy: (
	columns: 4,
	gutter-position: inside,
	global-box-sizing: border-box,
	debug: (
		image: show-columns,
		color: rgba( #de1e7e, 0.25 ),
		output: overlay,
		toggle: bottom right
	)
);

$susy-tablet: (
	columns: 6
);