body {
	background-image: url( '../images/cityscape.jpeg' );
	background-position: center top;
	background-attachment: fixed;
	background-size: cover;
}	

.panel {
	background-color: rgba( $background-color, 0.8 );
	border-radius: 3px;
	padding: 0 gutter();
	position: relative;
	
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

#masthead {
	@include span( 4 );
	
	margin-top: ( $base-spacing / 2 );

	.site-title {
		padding-right: gutter();
	}
	
	.site-description {
		line-height: 40px;
		margin: 0;
	}
}

#primary {
	@include span( 4 );
	
	margin: ( $base-spacing / 2 ) 0;
}

.hentry {
	margin-bottom: ( $base-spacing );
	padding-top: ( $base-spacing / 2 );
	padding-bottom: ( $base-spacing / 2 );
	
	&:last-of-type {
		margin-bottom: 0;
	}
}

.entry-title {
	margin: 0;
	padding-bottom: ( $base-spacing / 4 );
}

.entry-content {
	padding: ( $base-spacing / 2 ) gutter();
}

#colophon {
	@include span( 4 );

	margin-bottom: ( $base-spacing / 2 );
	
	.panel {
		padding-top: ( $base-spacing / 2 );
		padding-bottom: ( $base-spacing / 2 );
	}
	
	.copyright {
		margin: 0;
		text-align: right;
	}
}

@include susy-breakpoint( 768px, $susy-tablet ) {	
	.site-title,
	.site-description {
		display: inline-block;
		float: left;
	}
	
	.hentry {
		@include span( 6 nest );
		
		img {
			@include span( 2 no-gutter);
		}
		
		.entry-content {
			@include span( 4 );
			
			padding-top: 0;
		}
	}
}