.site-navigation {
	padding: 0 gutter();
	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
	li {
		border-bottom: 1px solid $border-color;
		
		&:last-of-type {
			border-bottom: none;
		}
	}
	
	a {
		display: block;
		padding: ( $base-spacing / 2 ) gutter();
	}
}