.menu-toggle {
	background-color: $background-color;
	border: 1px solid $border-color;
	border-radius: 3px;
	height: 40px;
	position: absolute;
	top: 0;
	right: 0;
	
	&:hover,
	&:focus {
		background-color: darken( $background-color, 5 );
	}
	
	&:active {
		background-color: darken( $background-color, 10 );
		box-shadow: inset 0 3px 5px rgba( 0, 0 ,0 , 0.125 );
	}
}

.page-wrapper {
	position: relative;
	
	&:after {
		content: '';
		display: block;
		clear:both;
	}
}

.content-wrapper {	
	@include span( 4 nest );

	.active & {
		transform: translateX( -50% );
	}
}

#offcanvas {
	background-color: $accent-color;
	color: $background-color;
	width: span( 2 );
	visibility: hidden;
	position: absolute;
	top: 0;
	
	.active & {
		visibility: visible;
		right: 0;
	}
	
	a {
		color: $background-color;
		
		&:visited {
			color: $background-color;
		}
		
		&:hover,
		&:focus {
			color: $background-color;
			text-decoration: underline;
		}
	}
}

@include susy-breakpoint( 768px, $susy-tablet ) {
	.content-wrapper {
		@include span( 6 nest );
		
		.active & {
			transform: translateX( -33% );
		}
	}
	
	#offcanvas {
		width: span( 2 );
	}
}