#secondary {
	@include span( full );
	
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.widget {
	margin-bottom: ( $base-spacing );
	
	.widget-title {
		padding: ( $base-spacing / 4 ) gutter();
	}
	
	.entry-title {
		padding: ( $base-spacing / 4 ) gutter();
	}
}
